<launch>
  <arg name="bagfile"
       default="/home/leus/rosbag/test.bag"/>
  <node name="rosbag_record"
	pkg="rosbag" type="record"
	args="-o $(arg bagfile)
	      -b 0
	      /box_pose
        /box_states
        /markers
        /emergency_command
	      /look_at_point
        /ar_pose_marker
        /rs_l515/color/camera_info
        /rs_l515/color/image_raw
        /rs_l515/depth/color/points
	      /tf
	      /tf_static
	/object_tracker/dest_image
	/stag_ros/markers"
	output="screen">
</node>
</launch>
